*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.App{

width: 1440px;
height: 6096px;
background: #FFFFFF;
}